@page "/Secure"
@model SecureModel

@attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles ="Bibi")]

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Secure</h1>


@{
    var user = HttpContext.User;
     var test = this;
}